header {
    position: fixed;
    z-index: 999;
    padding: 0 30px;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    transition: all ease 0.4s;
}

.black {
    background-color: #000;
}

.header--logo {
    height: 25px;
}
.header--logo img {
    height: 100%;
}

.header--user {
    height: 35px;
    cursor: pointer;
    transition: all ease 0.25s;
}
.header--user:hover {
    opacity: 0.9;
}

.header--user img {
    height: 100%;
    border-radius: 4px;
}

.header--settings {
    border-radius: 8px;
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 1rem;
    padding: 1.15rem 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: rgba(10, 10, 10, 0.95);
}

.header--settings span {
    padding: 8px;
    margin-bottom: 0.5rem;
    font-size: 0.85rem;
    font-family: "Netflix Sans Light";
    letter-spacing: 0.05em;
}

.header--settings span:not(:first-child):hover {
    background-color: #DB202C;
    border-radius: 4px;
    cursor: pointer;
}

.header--settings span:first-child {
    margin-bottom: 0.75rem;
    padding-bottom: 5px;
    border-bottom: 1px solid #CCC;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.1em;
}


.header--settings span:last-child {
    margin-bottom: 0;
}